attrs==20.3.0
Babel==2.9.1
blinker==1.8.2
cffi==1.14.5
chardet==4.0.0
chevron==0.13.1
click==8.1.7
colorama==0.4.6
configobj==5.0.6
cryptography==36.0.1
dbus-python==1.2.18
distro==1.5.0
docutils==0.16
Flask==3.0.3
Flask-Mail==0.10.0
idna==2.10
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==0.10.0
jsonpatch==1.21
jsonpointer==2.0
jsonschema==3.2.0
lockfile==0.12.2
MarkupSafe==2.1.5
netifaces==0.10.6
oauthlib==3.0.2
ply==3.11
prettytable==0.7.2
prometheus_client==0.20.0
prompt-toolkit==3.0.24
pycparser==2.20
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.8.1
python-dotenv==1.0.1
pytz==2022.7.1
PyYAML==5.4.1
requests==2.25.1
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
secure-smtplib==0.1.1
setools==4.4.1
six==1.15.0
support-info==1.0
systemd-python==235
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==3.0.3
zipp==3.19.2
